{wc:templates "index","header"}

<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/zhuanti/css/comm.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/zhuanti/css/index.css">
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/zhuanti/css/c_cloud.css">

<style>
.pullDownList,.yMenuListCon{
	display:none
}
</style>

              


	<!-- 头部 end -->
	<!-- 内容区域 start -->
	<div class="c_invite_banner c_discover_banner"></div>
	<div class="y_person_center">
		<!-- 邀请好友 start -->
		<div class="c_cart_source c_reward_detail" style="display:block;">
			<div class="c_part_record c_invites">
				<div class="y_invite_content" style="margin-top:0;">
					<div class="y_first_step">
						<div class="y_first_step_in">
							<h2 class="c_dis_how"></h2>
							<img class="y_first_stepimg" src="{G_TEMPLATES_STYLE}/zhuanti/img/imgss.png" style="margin-bottom:36px;">
							<ul>
								<li><img src="{G_TEMPLATES_STYLE}/zhuanti/img/1_img.png">一重礼：被邀请云粉，现金充值金额参与云购（直购、免税除外）邀请人可获得云购消费金额的<b style="font-size:18px;font-weight:bold;color:#fcf54f;">2%</b>佣金</li>
								<li><img src="{G_TEMPLATES_STYLE}/zhuanti/img/2_img.png">二重礼：被邀请云粉，晋商贷积分抽奖所得购物卡参与云购（直购、免税除外）邀请人可获得云购消费金额的<b style="font-size:18px;font-weight:bold;color:#fcf54f;">2%</b>佣金。</li>
								<li><img src="{G_TEMPLATES_STYLE}/zhuanti/img/3_img.png">三重礼：被邀请云粉，云购国际积分兑换账户余额参与云购（直购、免税除外）邀请人可获得云购消费金额的<b style="font-size:18px;font-weight:bold;color:#fcf54f;">2%</b>佣金。</li>
								<li><img src="{G_TEMPLATES_STYLE}/zhuanti/img/4_img.png">四重礼：每成功推荐一名云粉完成手机、邮箱认证，邀请人将获得<b style="font-size:17px;font-weight:bold;color:#fcf54f;">100积分/人</b>。</li>
								<li><img src="{G_TEMPLATES_STYLE}/zhuanti/img/5_img.png">五重礼：每邀请10个云粉完成手机、邮箱认证，并每人消费100元（含）以上，邀请人即可赢得一次砸金蛋机会。<b style="font-size:14px;color:#fcf54f;display:block;text-align:center;line-height:24px;">注：本活动暂未开始<br>敬请期待</b></li>
							</ul>
							<a href="{WEB_PATH}/single/pleasereg" class="no-go-inve"><img src="{G_TEMPLATES_STYLE}/zhuanti/img/no-goi.png"></a>
						</div>
					</div>
					<div class="y_invite_step">
						<div class="y_invite_step_in">
							<h2 class="c_dis_how"></h2>
							<div class="c_dis_atten">复制链接，通过以下方式发送给好友</div>
							<div class="c_dis_link">
								<label>复制以下链接发送邀请码</label>
								<p>我刚发现一个很好玩的网站1元就能买iphone www.yungouguoji.com</p>
								<a href="javascript:void(0);" class="otherA">复制链接</a>
							</div>
							<div class="c_disShare_ways">
								<div class="bdsharebuttonbox otherA">
								<a href="javascript:void(0);" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
								<a href="javascript:void(0);" class="bds_weixin" title="分享到微信"></a>
								<a href="javascript:void(0);" class="c_msg_share" style="margin-right:0;" title="短信分享"></a>
								</div>
								<!-- <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> -->
							</div>
						</div>
					</div>
					<div class="y_invite_rule">
						<div class="y_invite_rule_in">
							<div class="c_dis_left">
								<h3 class="">邀请好友，赚佣金！可提现，能转账！</h3>
								<a href="{WEB_PATH}/single/pleasereg">立即邀请好友</a>
								<!-- <a href="c_friend_invite.html">立即邀请好友</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 邀请好友 end -->
	</div>

	<div class="c_com_bj"></div>


